.item-status-filter-group {
   display: none;
   color: lightseagreen;
   border: 1px lightseagreen solid;
}
.item-status-filter-group button {
   color: lightseagreen;
}
.item-status-filter-group .btn-all {
   color: white;
   border-right: 1px lightseagreen solid;
}
.item-status-filter-group .btn-done {
   border-left: 1px lightseagreen solid;
}
